@font-face {
	font-family: 'PAPYRUS';
	
	src: url('../fonts/PAPYRUS.eot');
	src: url('../fonts/PAPYRUS.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PAPYRUS.woff') format('woff'),
		url('../fonts/PAPYRUS.ttf') format('truetype');
	
	font-weight: normal;
	font-style: normal;
}

body
{
    background-image: url("../images/pattern.png");
    color: #ffddc9;
    font-family:'PAPYRUS',Sans-Serif;
}

span
{
    color: #ffddc9;
    font-family:'PAPYRUS',Sans-Serif;
}

#outer_content
{
    color: #ffddc9;
    width: 1024px;
    margin:0 auto;
    background-image: url("../images/wrapper.png");
    height: 209px;
    background-repeat: no-repeat;;
    position: relative;
}

#inner_content
{
    top:217px;
    margin:0 auto;
    width: 1024px;
    background-image: url("../images/wapper_footer.png");
}

#inner_inner
{
    margin-left: 143px;
    width:781px;

}
#inner_inner a
{
    color: white;
}

#nav
{
    position: absolute;
    top:160px;
    left:285px;
}

#nav a
{
    text-decoration: none;
    color: #ffddc9;
    padding-right: 15px;
}

#nav a:hover 
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
    color: white;
}

.cont
{
    position: relative;
    width: 220px;
}

.reg
{
    border: solid #5e2323 3px;
}

.cont .mini
{
    position: absolute;
    right:-71px;
    bottom: -51px;
    border:0;
}

.col
{
    width: 300px;
}

.other_image
{
    width:219px;
    height: auto;
}

.header_text
{
    font-size: 1.5em;
}

.use_justify
{
    text-align: justify;
}