<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="http://www.yoursite.com/favicon.ico?v=2" />
<style>

body
{
	background-color: black;
	color: #c0c0c0;
}

#main
{
	width: 1024px;
	margin: 0 auto;
}

#nav
{
	/* background-color: red; */
	text-align: center;
}

#nav img
{
	border: 0;
}

#content
{
	width: 792px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
	color: #f7d700;
	margin-top: 0;
}

.strong
{
	color: #f7d700;
}

b, strong
{
	color: #f7d700;
}

table.howit td
{
	vertical-align: top;
}

table.howit img
{
	height:  auto;
	width: 171px;
	margin-right: 10px;
}
</style>
<map id="headermap" name="headermap">
	<area shape="rect" alt="" coords="22,7,273,218" href="{{ settings.url_base }}" target="" />
	<area shape="rect" alt="" coords="906,182,938,211" href="https://twitter.com/TheCareerCoach1" target="_blank" />
	<area shape="rect" alt="" coords="942,184,973,212" href="http://www.facebook.com/pages/The-Career-Coachorg/103853226369777" target="_blank" />
	<area shape="rect" alt="" coords="977,183,1010,212" href="http://www.linkedin.com/pub/rick-fishman/14/2a8/720/" target="_blank" />
	<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
</map>

<link href="css/lightbox.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/lightbox.js"></script>

<title>{{ settings.site_name }} - {% block title %}Welcome{% endblock %}</title>

{% include 'analytics.html' %}

{% block keywords %}
{% endblock %}

{% block extra_headers %}
{% endblock %}

</head>

<body>
<div id="main">
	<img src="header.jpg" usemap="#headermap" alt="" />
	<div id="nav">
		<a href="{{ settings.url_base }}"><img src="menu_impact.jpg" /></a>
		<span class="navspace">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<a href="page.php?id=3"><img src="menu_how.jpg" /></a>
		<span class="navspace">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<a href="page.php?id=5"><img src="menu_my.jpg" /></a>
		<span class="navspace">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<a href="page.php?id=6"><img src="menu_resume.jpg" /></a>
		<span class="navspace">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<a href="page.php?id=0"><img src="menu_test.jpg" /></a>
	</div>
	<div id="content">
	
	{% block content %}
	{% endblock %}
	</div>
</div>
</body>
</html>