{% extends 'base.html' %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
<form method="POST">
  {{ mmessage|raw }}
      <table style="padding-left: 10px" width="748" border="0" cellpadding="5" cellspacing="5">
        <tr>
          <td width="336" align="center" valign="top">        	<img src="images/support.jpg" style="width:225px; height:auto;" /></td>
          <td width="377" colspan="2" rowspan="2" valign="top">
          Please contact us for any questions or inquiries.
          <div style="margin-top:10px;"><strong>Name</strong>: <input type="text" name="name" value="{{ name }}" size="19" /></div>
          <div style="margin-top:5px;"><strong>Email</strong>: <input name="email" type="text" value="{{ email }}" size="35" maxlength="255" /></div>
          
          
          <div style="margin-top:5px;"><span style="font-weight: bold">Message</span>:<br />
          <textarea rows="10" name="message" cols="60">{{ message }}</textarea>
          </div></td>
        </tr>
        <tr>
          <td width="336" rowspan="2" align="left" valign="top">
            <p><strong>Phone:</strong>&nbsp;{{ settings.phone }}</p>
            {% if settings.fax %}<p><strong>Fax:</strong>&nbsp;{{ settings.fax }}</p>{% endif %}
          </td>
        </tr>
        <tr>
          <td colspan="2" align="left" valign="top"><p><strong>Please type the two words you see in the box below:</strong></p>
            <p>
              {{ recaptcha_html|raw }}
          </p></td>
        </tr>
        <tr>
          <td colspan="3" align="center" valign="top"><input type="submit" value="Submit" name="submit" />
              <input type="reset" name="button2" id="button2" value="Reset" />
          </td>
        </tr>
      </table>
</form>

<div style="height:200px;">&nbsp;</div>
{% endblock %}