{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}

<h1>HOW IT WORKS</h1>
<p>There is a logical six-step process in most career searches. <em><strong>My fee is based on your specific needs and the amount of time we spend together</strong></em>. I offer two resume packages and unbundled hourly services. There are no long term contracts; we work together as we agree is necessary to reach your objective.</p>

<table class="howit">

<tr>
	<td>
		<img src="/images/evaluation.png" />
	</td>

	<td>
<p><strong><span style="text-decoration: underline;">A FREE INITIAL EVALUATION</span></strong></p>
<p>It is important that I understand what you want to accomplish. I will learn about your goals and expectations and I will explain what I can or sometimes cannot do for you. I will also explain my expectations of your participation in this process. If we decide it makes sense to work together we will discuss the cost and go from there.</p>
</td></tr>

<tr>
	<td>
		<img src="/images/discovery.png" />
	</td>

	<td>
<p><strong><span style="text-decoration: underline;">CAREER DISCOVERY</span></strong></p>
<p>Many clients have no idea what they want to do next or what their most marketable skills are. Together we will answer these questions by discussing previous jobs, your likes, dislikes, and preferred career path. I want to hear about your ideal career. We will identify your <strong>key success factors</strong>. Your key success factors determine the marketing strategy, the core of your new resume, and the answer to the question &ldquo;why should we hire you?&rdquo;</p>
</td></tr>

<tr>
	<td>
		<img src="/images/resume_thumb.jpg" />
	</td>

	<td>
<p><strong><span style="text-decoration: underline;">YOUR NEW RESUME</span></strong></p>
<p>Your resume will be created for you, not an &ldquo;off the shelf&rdquo; template. It is a brochure and you are a product. It is designed to get you interviews. Competition is fierce and you have to stand out. We will focus on what you have accomplished, not just what you have done. More than 90% of all applicants are screened out because of an inferior resume.</p>
</td></tr>

<tr>
	<td>
		<img src="/images/search.png" />
	</td>

	<td>
<p><strong><span style="text-decoration: underline;">SEARCH STRATEGY</span></strong></p>
<p>Now that you have your new resume, what do you do with it? You need an aggressive, proactive search strategy that makes good sense. Your plan will help you make better, smarter decisions.</p>
</td></tr>

<tr>
	<td>
		<img src="/images/interview.png" />
	</td>

	<td>
<p><strong><span style="text-decoration: underline;">INTERVIEWING SKILLS</span></strong></p>
<p>Interviewing skills are just like playing golf. The more lessons you take and the more you practice, the better the results. The reality is that you have a minute or two to hit a home run! Preparation and confidence are the keys.</p>
</td></tr>

<tr>
	<td>
		<img src="/images/negotiating.png" />
	</td>

	<td>
<p><strong><span style="text-decoration: underline;">NEGOTIATING SKILLS</span></strong></p>
<p>When you receive an offer, you have to be able to make the most of it. You can almost never recoup the money you leave on the table. Learning to maximize the offer is a valuable skill to learn, and it is enhanced by practice and preparation.</p>
</td></tr>

</table>

<p><strong>Rick Fishman</strong><br /> <a href="http://www.thecareercoach.org">www.thecareercoach.org</a><br /> 3550 Executive Pkwy.<br /> Suite 7-256<br /> Toledo, OH 43606<br /> 419.699.8599 &nbsp; email <a href="mailto:thecareercoach@yahoo.com">thecareercoach@yahoo.com</a></p>
{% endblock %}